body {

  div.ant-fullcalendar-fullscreen {
background: linear-gradient(#91a8a4, #afdedc);
    .notes-month {
      text-align: center;
      font-size: 28px;

      .notes-month section {
        font-size: 28px;
      }
    }

    .events {
      list-style: none;
      margin: 0;
      padding: 0;

      .events .ant-badge-status {
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        text-overflow: ellipsis;
        font-size: 12px;
      }
    }

    div.ant-fullcalendar-date {
      //background-color: #afdedc;
      //background-color: #91a8a4;
      //background: linear-gradient(#91a8a4, #afdedc);
      border-radius: 15px;
      animation: 2s;
    }

  }

}