body {
  background-image: url("/images/dusty-Wood.jpg");
  background-repeat: repeat;
  min-height: 600px;
  margin: 0;
  padding: 0;

  .logo-pic {
    height: 30px;
    width: 30px;
  }

  main {
    min-height: 600px;


    div.badge {
      background-color: $snow;
      border: 4px;
      border-color: $columbia;
      font-size: 40px;
    }

    #upload {
      text-align: center;

      div.el-upload--text {
        display: inline-block;
        width: 100%;

        div.el-upload-dragger {
          margin: 0 auto;

          img {
            width: 100%;
          }
        }

      }
    }

  }



}