body {
    background-image: url("/images/dusty-Wood.jpg");

  nav.navbar {
    border-radius: 0px 0px 15px 15px;
    height: 60px;
    background-color: #fcf7f8 !important;
    border-bottom-width: 7px;
    border-bottom-color: #afdedc;
    box-sizing: border-box;

    div#navbarDropdownMenuLink {
      //height: 100%;
    a.nav-link {
      box-sizing: border-box;
      //padding: 0;
      height: 100%;
      width: 100%;
    }
    }
  }


}